includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - Modules/Catalog/app
        - Modules/Order/app
    level: 5
    checkModelProperties: true
    ignoreErrors: []
    excludePaths: []